@media (max-width: 359px){
       /*index*/
    div.name{
    width: 100%;
    justify-content: center;
    display: flex;
    }
    div.name h1{
        font-size: 25px;
    }

    div.icons{
        display: none;
    }

    h1.titleProductos{
        font-size: 20px;
        padding: 5px;
    }
    div.productos ol{
       font-size: 8px;
    }

    h1.titleRedessociales{
    font-size: 20px;
    padding: 5px; 
    }
    div.invitacion p.esc{
        display: none;
    }
    div.invitacion p.mov{
        font-size: 15px;
        text-decoration: underline;
    }
    /*footer*/
    footer{height: auto;}
    div.img_empresa img{display: none;}
    div.img_empresa h2{font-size: 35px; padding: 15px;}
    nav.menu_footer{display: none;}
    nav.redes_sociales{display: none;}
    
    /*pagina 02*/
    main.pag02{ flex-direction: column; align-items:center;}
    main.pag02 div.dropdown{position: sticky;top: 0;}
    div.dropdown button.btn-primary{width: auto; font-size: 15px; padding: 10px; align-self: start;}
    div.dropdown div.dm{background-color: hsla(0, 0%, 0%, 0.870);}
    div.gallery div{
        width: 100%;
    }
    div.gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(21, 1fr);
        grid-template-areas: 
        "imagen21"
        "imagen01"
        "imagen02"
        "imagen03"
        "imagen04"
        "imagen05"
        "imagen06"
        "imagen07"
        "imagen08"
        "imagen09"
        "imagen10"
        "imagen11"
        "imagen12"
        "imagen13"
        "imagen14"
        "imagen15"
        "imagen16"
        "imagen17"
        "imagen18"
        "imagen19"
        "imagen20";
    }

    /*pagina03*/
    form.contacto div.formulario input{width: 90%;}
    form.contacto div.formulario textarea{width: 90%;}
    div.sobre-nosotros img{display: none;}
    div.sobre-nosotros iframe{width: 250px; height: auto;}

    /*pagina04*/

    main.pag04{display: flex; flex-direction: column;}
    div.prod div.fotos{display: none;}
    main.pag04 div.producto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto) ;
        grid-template-areas: 
        "img img img"
        "desc desc desc"
        "desc01 desc01 desc01"
        "comp comp comp"
        "variantes variantes variantes";
    }
    aside.variantes{
        width: 250px;
        height: 550px;
        display: flex;
        flex-flow: wrap;
        justify-self: center;
    }
    aside.variantes div img{
        width: 100px;
        height: auto;
        border-radius: 25px;
    }
    div.pagos select.form-select option{
        font-size: 15px;
    }



}


@media (min-width: 360px) and (max-width: 767px){
    /*index*/
    div.name{
    width: 100%;
    justify-content: center;
    display: flex;
    }
    div.name h1{
        font-size: 25px;
    }

    div.icons{
        display: none;
    }

    h1.titleProductos{
        font-size: 20px;
        padding: 5px;
    }
    div.productos ol{
       font-size: 8px;
    }

    h1.titleRedessociales{
    font-size: 20px;
    padding: 5px; 
    }
    div.invitacion p.esc{
        display: none;
    }
    div.invitacion p.mov{
        font-size: 15px;
        text-decoration: underline;
    }
    /*footer*/
    footer{height: auto;}
    div.img_empresa img{display: none;}
    div.img_empresa h2{font-size: 35px; padding: 15px;}
    nav.menu_footer{display: none;}
    nav.redes_sociales{display: none;}
    
    /*pagina 02*/
    main.pag02{ flex-direction: column; align-items: center;}
    main.pag02 div.dropdown{position: sticky;top: 0;}
    div.dropdown button.btn-primary{width: auto; font-size: 15px; padding: 10px; align-self: start;}
    div.dropdown div.dm{background-color: hsla(0, 0%, 0%, 0.870);}

    div.gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(21, 1fr);
        grid-template-areas: 
        "imagen21"
        "imagen01"
        "imagen02"
        "imagen03"
        "imagen04"
        "imagen05"
        "imagen06"
        "imagen07"
        "imagen08"
        "imagen09"
        "imagen10"
        "imagen11"
        "imagen12"
        "imagen13"
        "imagen14"
        "imagen15"
        "imagen16"
        "imagen17"
        "imagen18"
        "imagen19"
        "imagen20";
    }

    /*pagina03*/
    form.contacto div.formulario input{width: 90%;}
    form.contacto div.formulario textarea{width: 90%;}
    div.sobre-nosotros img{display: none;}
    div.sobre-nosotros iframe{width: 250px; height: auto;}

    /*pagina04*/

    main.pag04{display: flex; flex-direction: column;}
    div.prod div.fotos{display: none;}
    main.pag04 div.producto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto) ;
        grid-template-areas: 
        "img img img"
        "desc desc desc"
        "desc01 desc01 desc01"
        "comp comp comp"
        "variantes variantes variantes";
    }
    aside.variantes{
        width: 300px;
        height: 500px;
        display: flex;
        flex-flow: wrap;
        justify-self: center;
    }
    aside.variantes div img{
        width: 100px;
        height: auto;
        border-radius: 25px;
    }

}

@media (min-width: 768px) and (max-width: 1200px){

    /*pagina 02*/
    main.pag02{ flex-direction: column; align-items: center;}
    main.pag02 div.dropdown{position: sticky;top: 0;}
    div.dropdown button.btn-primary{width: auto; font-size: 15px; padding: 10px; align-self: start;}
    div.dropdown div.dm{background-color: hsla(0, 0%, 0%, 0.870);}
    div.gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas: 
        "imagen21 imagen01"
        "imagen02 imagen04"
        "imagen05 imagen06"
        "imagen07 imagen08"
        "imagen09 imagen10"
        "imagen11 imagen12"
        "imagen13 imagen14"
        "imagen15 imagen16"
        "imagen17 imagen18"
        "imagen19 imagen20"
        "imagen03 imagen00";
    }

    /*pagina04*/
    main.pag04 div.fotos{display: none;}
    main.pag04 div.producto{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 400px 200px 250px  ;
        grid-template-areas: 
        "img img img variantes"
        "desc desc desc variantes"
        "desc01 desc01 desc01 variantes"
        "comp comp comp variantes";
    }
    main.pag04{
        height: auto;
    }
    aside.variantes{
        align-items: center;
        height: 800px;
    }
    aside.variantes img{border-radius: 15px;}
    aside.variantes img:hover{width: 170px;height: 170px;}
    aside.variantes p{display: none;}
    div.descripcion{padding: 10px;}
    div.descripcion01{padding: 10px;}
}