@font-face {
    font-family: Lobster-Regular;
    src: url(../media/fonts/Lobster-Regular.ttf);
  }
  @font-face {
    font-family: legends;
    src: url(../media/fonts/Legend\ M54.ttf);
  }
  @font-face {
    font-family: varsity;
    src: url(../media/fonts/varsity_regular.ttf);
  }
  @font-face {
    font-family: campus;
    src: url(../media/fonts/CAMPUS\ USE.ttf);
  }