/*estandard*/
$colorMain: rgb(0, 31, 51);

$colorDetalles:rgb(38, 186, 206);

$colorFont: white;

/*black friday*/
$colorMBF:black;

$colorDBF:rgb(211, 23, 23);

/*ciber monday*/
$colorMCM:rgba(2, 0, 0, 0.829);

$colorDCM:rgb(0, 160, 8);

